.buttonDefault {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 20 px;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: red;
}

.buttonDefault:hover {
    -fx-background-color: rgb(0, 0, 0);
    -fx-border-color: rgb(128, 0, 0);
    -fx-border-width: 10;
    -fx-font-size: 20 px;
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.buttonDefault:pressed {
    -fx-background-color: rgb(0, 0, 0.6);
    -fx-border-color: #4c3a04;
    -fx-border-width: 10;
    -fx-font-size: 20 px;
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: rgb(230, 0, 0.6);
}

.instructions {
    -fx-font-size: 20 px;
    -fx-font-family: Arial Verdana;
}

.instructionsHeading {
    -fx-font-size: 50 px;
    -fx-font-family: Arial Verdana;
}

.game {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-image: url("resources/game_background.jpg");
}

.instructionsBorder {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 20 px;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: red;
}

.labelScore {
    -fx-font-size: 50 px;
    -fx-text-fill: rgba(255,255,255);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
}

.labelGameScore {
    -fx-font-size: 30 px;
    -fx-text-fill: rgba(255,255,255);
    -fx-font-family: Arial Verdana;
}

.labelHighScore {
    -fx-font-size: 25 px;
    -fx-text-fill: rgba(255,255,255);
    -fx-font-family: Arial Verdana;
}





.headingBorder {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 40 px;
    -fx-border-width: 5;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-text-fill: red;
}

.getPlayerName {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 15 px;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: red;
}

.playerName {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 20 px;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: red;
}

.playAgain {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 20 px;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: red;
}

.labelGameOver {
    -fx-background-color: rgb(128, 0, 0.6);
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
    -fx-font-color: rgb(230, 0, 0);
    -fx-font-size: 30 px;
    -fx-border-width: 5;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: red;
}

.labelCountDown {
    -fx-font-size: 90 px;
    -fx-text-fill: rgba(0,0,0,0);
    -fx-font-family: Arial Verdana;
    -fx-font-weight: bold;
}